.cointaner{
   margin-left: 250px;
   width: 800px;
   height: 400px;
   color: aliceblue;
   margin-top: 100px;
   padding-left: 200px;
   padding-top: 50px;
   padding-right: 200px;
   border-style: solid;
   border-radius: 10px;
   text-shadow: 2px 2px 2px  2px aliceblue;
   box-shadow: 2px 2px 2px 2px black;
   border-color: #4d4d4d;
}